<h3>Resource Management Profile</h3>

<img height="100%" width="100%" src="assets/caliper-profile_resource_management.png"
     alt="Resource Management Profile"/>

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/ResourceManagementProfile">
        http://purl.imsglobal.org/caliper/ResourceManagementProfile</a>
    </dd>
    <dt>Term</dt>
    <dd>ResourceManagementProfile</dd>
</dl>

<p>The Caliper Resource Management Profile models a <a href="Person">Person</a> managing a
    <a href="#DigitalResource">DigitalResource</a>.</p>

<p>The Resource Management Profile supports the following user stories:</p>

<ul>
    <li>As a content developer, I would like to measure the interval between resource availability and
        learner engagement with learning resources in order to gain insights into both the administrative
        impact on the learning process and the timing decisions of learners who are expected to ingest the
        materials.</li>
    <li>As an instructor, I would like to measure engagement between different revisions of learning
        resources over time in order to help determine what content is most effective.</li>
</ul>

<p>The Resource Management Profile defines a <a href="#ResourceManagementEvent">ResourceManagementEvent</a> for describing
    resource handling actions.</p>