<h3>General Profile</h3>

<img height="100%" width="100%" src="assets/caliper-profile_general.png" alt="General Profile">

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/GeneralProfile">http://purl.imsglobal.org/caliper/GeneralProfile</a></dd>
    <dt>Term</dt>
    <dd>GeneralProfile</dd>
</dl>

<p>The Caliper General Profile provides a generic <a href="#Event">Event</a> for describing learning or supporting
    activities that have yet to be modeled by Caliper. Any of the Caliper <a href="#actions">actions</a> described in this specification can
    be used to describe the interaction between the <code>actor</code> and the <code>object.</code></p>

<p>Use of the General Profile is strictly limited to describing interactions not modeled in other profiles. Any events
    described MUST be expressed using only the <code>Event</code> supertype.</p>
