<h3>Grading Profile</h3>

<img height="100%" width="100%" src="assets/caliper-profile_grading.png" alt="Grading Profile">

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/GradingProfile">
        http://purl.imsglobal.org/caliper/GradingProfile</a>
    </dd>
    <dt>Term</dt>
    <dd>GradingProfile</dd>
</dl>

<p>The Caliper Grading Profile models grading activities performed by an <a href="#Agent">Agent</a>,
    typically a <a href="#Person">Person</a> or a <a href="#SoftwareApplication">SoftwareApplication</a>.
    Grading a learner's <a href="#Attempt">Attempt</a> of an
    <a href="#AssignableDigitalResource">AssignableDigitalResource</a> and generating a
    <a href="#Score">Score</a> is modeled as is viewing a <a href="#Result">Result</a>.</p>

<p>The grading profile allows information to be captured about grade changes for a given assessment or
    submission. This may be useful to understand the way in which students and teachers may be interacting
    throughout the course.</p>

<p>The Grading Profile supports the following user stories:</p>

<ul>
    <li>As an instructor I want to know what was distribution of scores for the most recent assignment.</li>
    <li>As an administrator I want to know how often grades are changed for a given assessment.</li>
</ul>

<p>The Grading Profile defines a <a href="#GradeEvent">GradeEvent</a> for describing the scoring of assignments
    and a <a href="#ViewEvent">ViewEvent</a> for viewing results. For each <a href="#Event">Event</a>
    described, the governing <code>profile</code> SHOULD be referenced (e.g., "GradingProfile").</p>

<p>When describing a <a href="#action-graded">Graded</a> action, the <code>generated</code>
    <a href="#Score">Score</a> SHOULD be specified. If the generated <a href="#Score">Score</a> is
    expressed as an object the <code>attempt</code>, <code>maxScore</code>, and <code>scoreGiven</code>
    property values SHOULD be provided.</p>

<p>If a <a href="#Result">Result</a> is expressed as an object the <code>attempt</code>,
    <code>maxResultScore</code>, and <code>resultScore</code> property values SHOULD be provided.</p>

<p>For auto-graded scenarios the <a href="#SoftwareApplication">SoftwareApplication</a> MUST be
    specified as the <code>actor</code>.</p>