<h3>Assignable Profile</h3>

<img height="100%" width="100%" src="assets/caliper-profile_assignable.png" alt="Assignable Profile">

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/AssignableProfile">
        http://purl.imsglobal.org/caliper/AssignableProfile</a>
    </dd>
    <dt>Term</dt>
    <dd>AssignableProfile</dd>
</dl>

<p>The Assignable Profile models activities associated with the assignment of digital content to a learner
    for completion according to specific criteria.  Caliper provides a generic
    <a href="#assignableDigitalResource">AssignableDigitalResource</a> for describing the
    <code>object</code> of these activities as well as a learner's <a href="#attempt">Attempt</a> for
    recording a count of the number of times an assigned resource has been attempted.</p>

<p>The Assignable Profile supports the following user stories:</p>

<ul>
    <li>As an instructor I want to know who is assigned what material.</li>
    <li>As an instructor I want to know how long does it take to complete something that has been
        assigned.</li>
    <li>As an instructor I want to know what piece of assigned material presents the biggest challenge
        (i.e. needs most retake attempts).</li>
</ul>

<p>The Assignable Profile defines an <a href="#AssignableEvent">AssignableEvent</a>,
    <a href="#NavigationEvent">NavigationEvent</a>, and <a href="#ViewEvent">ViewEvent</a> for
    describing learner interactions with assignments.</p>

<p>For each <a href="#AssignableEvent">AssignableEvent</a> described, the governing <code>profile</code> SHOULD be
    referenced (e.g., "AssignableProfile"). Additionally, the <code>generated</code> <a href="#Attempt">Attempt</a>
    SHOULD be specified for the following <a href="#AssignableEvent">AssignableEvent</a> actions:

<ul>
    <li><a href="#action-started">Started</a></li>
    <li><a href="#action-completed">Completed</a></li>
    <li><a href="#action-submitted">Submitted</a></li>
    <li><a href="#action-reviewed">Reviewed</a></li>
</ul>

Set the <code>count</code> value to 1 for a first attempt and increment by 1 for each subsequent
attempt.</p>

<p>If the <a href="#Attempt">Attempt</a> is expressed as an object the <a href="#Attempt">Attempt</a>
    SHOULD define, at a minimum, the <code>assignee</code>, the <code>assignable</code>, and the
    <code>count</code>.</p>

<p>Parent-child relationships that exist between
    <a href="#assignableDigitalResource">AssignableDigitalResource</a> attempts MAY be represented by
    use of the <a href="#Attempt">Attempt</a> <code>isPartOf</code> property.</p>