<h3>Media Profile</h3>

<img height="100%" width="100%" src="assets/caliper-profile_media.png" alt="Media Profile">

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/MediaProfile">
        http://purl.imsglobal.org/caliper/MediaProfile</a>
    </dd>
    <dt>Term</dt>
    <dd>MediaProfile</dd>
</dl>

<p>The Caliper Media Profile models interactions between learners and rich content such as audio, images
    and video.  Implementers can leverage a number of media-related entities including
    <a href="#audioObject">AudioObject</a>, <a href="#audioObject">ImageObject</a>, and
    <a href="#videoObject">VideoObject</a>, each subtyped from a generic
    <a href="#mediaObject">MediaObject</a>. A <a href="#mediaLocation">MediaLocation</a> entity is also
    provided in order to represent the current location in an audio or video stream.</p>

<p>As an example of how this profile could be used, consider the following scenario: an instructor has
    decided to incorporate a video player into their course.  The video content may or may not be launched
    via <a href="#ltiDef">LTI</a> from the Learning Management System (LMS). Since the video player tool
    is instrumented to emit activity data via Caliper, the instructor will be able to collect useful
    information about student viewing behavior. In addition, he will be able to compare this data along
    with other relevent information in the LMS, such as assignment and quiz results.</p>

<p>The Media Profile supports the following user stories:</p>

<ul>
    <li>As an instructor I want to know what was distribution of scores for the most recent assignment.</li>
    <li>As an administrator I want to know how often grades are changed for a given assessment.</li>
</ul>

<ul>
    <li>As an instructor I want to which students are using the video platform.</li>
    <li>As an instructor I want to know which videos are being played the most.</li>
    <li>As an instructor I want to know how long my students are spending on each video.</li>
    <li>As an instructor I want to know when students pause a video.</li>
    <li>As an instructor I want to know if there are instances of students replaying sections
        of the video.</li>
</ul>

<p>The Media Profile defines a <a href="#MediaEvent">MediaEvent</a>,
    <a href="#navigationEvent">NavigationEvent</a>, and <a href="#viewEvent">ViewEvent</a> for
    describing interactions with media such as an <a href="#AudioObject">AudioObject</a>,
    <a href="#ImageObject">ImageObject</a>, or <a href="#VideoObject">VideoObject</a>. For each
    <a href="#Event">Event</a> described, the governing <code>profile</code> SHOULD be referenced
    (e.g., "MediaProfile").</p>

<p>A <a href="#mediaLocation">MediaLocation</a> MAY be specified as the <code>target</code> in order
    to indicate the current location in an audio or video stream.</p>

<p>If the <a href="#mediaLocation">MediaLocation</a> is expressed as an object, set the
    <code>currentTime</code> value per <code>action</code> as follows:

<ul>
    <li><a href="#started">Started</a>, <a href="#restarted">Restarted</a>: set the
        <code>currentTime</code> value to the beginning or initial starting location in
        the audio or video stream.</li>
    <li><a href="#paused">Paused</a>: set the <code>currentTime</code> value to the
        location in the audio or video stream where the pause occurred.</li>
    <li><a href="#resumed">Resumed</a>: set the <code>currentTime</code> value to the
        location in the audio or video stream where the previous pause occurred.</li>
    <li><a href="#ended">Ended</a>: set the <code>currentTime</code> value to the ending
        or closing location in the audio or video stream.</li>
    <li>For other <a href="#mediaEvent">MediaEvent</a> supported actions the
        <a href="#mediaLocation">MediaLocation</a> <code>currentTime</code> value MUST be
        set to the location in the audio or video stream where the action occurred.</li>
</ul>