<h3>Assessment Profile</h3>

<img height="100%" width="100%" src="assets/caliper-profile_assessment.png" alt="Assessment Profile">

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/AssessmentProfile">
        http://purl.imsglobal.org/caliper/AssessmentProfile</a>
    </dd>
    <dt>Term</dt>
    <dd>AssessmentProfile</dd>
</dl>

<p>The Caliper Assessment Profile models assessment-related activities including interactions with
    individual assessment items. Caliper provides <a href="#Assessment">Assessment</a> and
    <a href="#AssessmentItem">AssessmentItem</a> entities for describing the <code>object</code> of
    these activities, as well as a learner's <a href="#Attempt">Attempt</a> for recording a count of the
    number of times an assigned resource has been attempted. Five <a href="#Response">Response</a> types
    are also provided for capturing individual item responses.</p>

<p>The Assessment Profile supports the following user stories:</p>

<ul>
    <li>As an instructor I want to know how much time is required to complete and submit an assessment.</li>
    <li>As an instructor I want to know how much time is spent answering individual assessment items.</li>
    <li>As an instructor I want to know which assessment items are completed.</li>
    <li>As an instructor I want to know which assessment items are skipped.</li>
    <li>As an instructor I want to know when learners start their assessments, if test-taking times
        are flexible.</li>
</ul>

<p>The Assessment Profile defines an <a href="#AssessmentEvent">AssessmentEvent</a>,
    <a href="#AssessmentItemEvent">AssessmentItemEvent</a>,
    <a href="#NavigationEvent">NavigationEvent</a>, and <a href="#ViewEvent">ViewEvent</a> for
    describing learner interactions with tests and questions.</p>

<p>For each <a href="#assessmentEvent">AssessmentEvent</a> described, the governing <code>profile</code>
    SHOULD be referenced (e.g., "AssessmentProfile"). Additionally, the <code>generated</code>
    <a href="#attempt">Attempt</a> SHOULD be specified.  If the <a href="#attempt">Attempt</a> is
    expressed as an object the <a href="#attempt">Attempt</a> SHOULD define, at a minimum, the
    <code>assignee</code>, the <code>assignable</code>, and the <code>count</code>. Set the
    <a href="#attempt">Attempt</a> <code>count</code> values as follows (per action):

<ul>
    <li><a href="#started">Started</a>: set the <code>count</code> value to 1 for a first attempt and
        increment by 1 for each subsequent attempt.</li>
    <li><a href="#paused">Paused</a>, <a href="#resumed">Resumed</a>, <a href="#reset">Reset</a>: do
        not change the current <code>count</code> value.</li>
    <li><a href="#restarted">Restarted</a>: increment the <code>count</code> value by 1.</li>
</ul>

<p>For each <a href="#assessmentItemEvent">AssessmentItemEvent</a> described, referencing a
    <code>generated</code> <a href="#attempt">Attempt</a> or <a href="#response">Response</a> depends
    on the <code>action</code> value specified.  Set the <a href="#attempt">Attempt</a>
    <code>count</code> values as follows (per action):</p>

<ul>
    <li><a href="#started">Started</a>: set the <code>count</code> value to 1 for a first attempt and
        increment by 1 for each subsequent attempt.</li>
    <li><a href="#skipped">Skipped</a>: do not increment the <a href="#attempt">Attempt</a>
        <code>count</code> by 1. The current <code>count</code> value MUST remain unchanged.</li>
    <li><a href="#completed">Completed</a>: if desired, specify the learner's
        <a href="#response">Response</a> and reference the associated <a href="#attempt">Attempt</a>
        via the <code>attempt</code> property.  The current <code>count</code> value MUST remain
        unchanged.</li>
</ul>

<p>Parent-child relationships that exist between <a href="#assessmentItem">AssessmentItem</a> and
    <a href="#assessment">Assessment</a> attempts MAY be represented by use of the
    <a href="#attempt">Attempt</a> <code>isPartOf</code> property.</p>

<p>As a learner navigates from one <a href="#assessmentItem">AssessmentItem</a> to another
    <a href="#assessmentItem">AssessmentItem</a>, the previous <a href="#assessmentItem">AssessmentItem</a>
    MAY be specified as the <code>referrer</code>.</p>