<h3>Assessment Profile</h3>

<img height="100%" width="100%" src="assets/caliper-profile_assessment.png" alt="Assessment Profile">

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/AssessmentProfile">
        http://purl.imsglobal.org/caliper/AssessmentProfile</a>
    </dd>
    <dt>Term</dt>
    <dd>AssessmentProfile</dd>
</dl>

<p>The Caliper Assessment Profile models assessment-related activities including interactions with
    individual assessment items. Caliper provides <a href="#Assessment">Assessment</a> and
    <a href="#AssessmentItem">AssessmentItem</a> entities for describing the <code>object</code> of
    these activities, as well as a learner's <a href="#Attempt">Attempt</a> for recording a count of the
    number of times an assigned resource has been attempted. Five <a href="#Response">Response</a> types
    are also provided for capturing individual item responses.</p>

<p>The Assessment Profile supports the following user stories:</p>

<ul>
    <li>As an instructor, I want to know how much time is required to complete and submit an assessment.</li>
    <li>As an instructor, I want to know how much time is spent answering individual assessment items.</li>
    <li>As an instructor, I want to know which assessment items are completed.</li>
    <li>As an instructor, I want to know which assessment items are skipped.</li>
    <li>As an instructor, I want to know when learners start their assessments, if test-taking times
        are flexible.</li>
</ul>

<p>The Assessment Profile defines an <a href="#AssessmentEvent">AssessmentEvent</a>,
    <a href="#AssessmentItemEvent">AssessmentItemEvent</a>,
    <a href="#NavigationEvent">NavigationEvent</a>, and <a href="#ViewEvent">ViewEvent</a> for
    describing learner interactions with tests and questions. Ten actions are described:</p>

<table>
    <thead>
        <tr>
            <th>Event</th>
            <th>actor</th>
            <th>action</th>
            <th>object</th>
            <th>generated</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#AssessmentEvent">AssessmentEvent</a></td>
            <td><a href="#Person">Person</a></td>
            <td><a href="#action-started">Started</a></td>
            <td><a href="#Assessment">Assessment</a></td>
            <td><a href="#Attempt">Attempt</a></td>
        </tr>
        <tr>
            <td><a href="#AssessmentEvent">AssessmentEvent</a></td>
            <td><a href="#Person">Person</a></td>
            <td><a href="#action-paused">Paused</a></td>
            <td><a href="#Assessment">Assessment</a></td>
            <td><a href="#Attempt">Attempt</a></td>
        </tr>
        <tr>
            <td><a href="#AssessmentEvent">AssessmentEvent</a></td>
            <td><a href="#Person">Person</a></td>
            <td><a href="#action-resumed">Resumed</a></td>
            <td><a href="#Assessment">Assessment</a></td>
            <td><a href="#Attempt">Attempt</a></td>
        </tr>
        <tr>
            <td><a href="#AssessmentEvent">AssessmentEvent</a></td>
            <td><a href="#Person">Person</a></td>
            <td><a href="#action-restarted">Restarted</a></td>
            <td><a href="#Assessment">Assessment</a></td>
            <td><a href="#Attempt">Attempt</a></td>
        </tr>
        <tr>
            <td><a href="#AssessmentEvent">AssessmentEvent</a></td>
            <td><a href="#Person">Person</a></td>
            <td><a href="#action-submitted">Submitted</a></td>
            <td><a href="#Assessment">Assessment</a></td>
            <td><a href="#Attempt">Attempt</a></td>
        </tr>
        <tr>
            <td><a href="#AssessmentItemEvent">AssessmentItemEvent</a></td>
            <td><a href="#Person">Person</a></td>
            <td><a href="#action-started">Started</a></td>
            <td><a href="#AssessmentItem">AssessmentItem</a></td>
            <td><a href="#Attempt">Attempt</a></td>
        </tr>
        <tr>
            <td><a href="#AssessmentItemEvent">AssessmentItemEvent</a></td>
            <td><a href="#Person">Person</a></td>
            <td><a href="#action-skipped">Skipped</a></td>
            <td><a href="#AssessmentItem">AssessmentItem</a></td>
            <td><a href="#Attempt">Attempt</a></td>
        </tr>
        <tr>
            <td><a href="#AssessmentItemEvent">AssessmentItemEvent</a></td>
            <td><a href="#Person">Person</a></td>
            <td><a href="#action-completed">Completed</a></td>
            <td><a href="#AssessmentItem">AssessmentItem</a></td>
            <td><a href="#Response">Response</a></td>
        </tr>
        <tr>
            <td><a href="#NavigationEvent">NavigationEvent</a></td>
            <td><a href="#Person">Person</a></td>
            <td><a href="#action-navigatedTo">NavigatedTo</a></td>
            <td><a href="#Assessment">Assessment</a> | <a href="#AssessmentItem">AssessmentItem</a></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><a href="#ViewEvent">ViewEvent</a></td>
            <td><a href="#Person">Person</a></td>
            <td><a href="#action-viewed">Viewed</a></td>
            <td><a href="#Assessment">Assessment</a> | <a href="#AssessmentItem">AssessmentItem</a></td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>

When constructing an <a href="#AssessmentEvent">AssessmentEvent</a>,
<a href="#AssessmentItemEvent">AssessmentItemEvent</a>, <a href="#NavigationEvent">NavigationEvent</a>, and
<a href="#ViewEvent">ViewEvent</a> governed by the Assessment Profile the following rules and recommendations apply:

<ul>
    <li>The properties <code>id</code>, <code>type</code>, <code>actor</code>, <code>action</code>,
        <code>object</code>, and <code>eventTime</code> are required and MUST be referenced.</li>
    <li>Although optional, the governing <code>profile</code> SHOULD also be specified.</li>
    <li>Likewise, if activity context data is available and relevant the optional properties <code>generated</code>,
        <code>edApp</code>, <code>group</code>, <code>membership</code>, <code>target</code>, <code>referrer</code>,
        and <code>session</code> SHOULD be referenced.</li>
    <li>For <a href="#AssessmentEvent">AssessmentEvent</a> actions, the <code>generated</code>
        <a href="#attempt">Attempt</a> SHOULD be specified. If an <a href="#Attempt">Attempt</a> is expressed as an
        object the <a href="#Attempt">Attempt</a> SHOULD define, at a minimum, the <code>assignee</code>,
        the <code>assignable</code>, and the <code>count</code>. Set the <a href="#Attempt">Attempt</a>
        <code>count</code> values as follows (per action):

        <ul>
            <li><a href="#action-started">Started</a>: set the <code>count</code> value to 1 for a first attempt and
                increment by 1 for each subsequent attempt.</li>
            <li><a href="#action-paused">Paused</a>, <a href="#resumed">Resumed</a>, <a href="#reset">Reset</a>: do
                not change the current <code>count</code> value.</li>
            <li><a href="#action-restarted">Restarted</a>: increment the <code>count</code> value by 1.</li>
        </ul>
    </li>
    <li>For each <a href="#AssessmentItemEvent">AssessmentItemEvent</a> described, referencing a
        <code>generated</code> <a href="#Attempt">Attempt</a> or <a href="#Response">Response</a> depends
        on the <code>action</code> value specified.  Set the <a href="#Attempt">Attempt</a>
        <code>count</code> values as follows (per action):
        <ul>
            <li><a href="#action-started">Started</a>: set the <code>count</code> value to 1 for a first attempt and
                increment by 1 for each subsequent attempt.</li>
            <li><a href="#action-skipped">Skipped</a>: do not increment the <a href="#Attempt">Attempt</a>
                <code>count</code> by 1. The current <code>count</code> value MUST remain unchanged.</li>
            <li><a href="#action-completed">Completed</a>: if desired, specify the learner's
                <a href="#Response">Response</a> and reference the associated <a href="#Attempt">Attempt</a>
                via the <code>attempt</code> property.  The current <code>count</code> value MUST remain
                unchanged.</li>
        </ul>
    </li>
    <li>Parent-child relationships that exist between <a href="#AssessmentItem">AssessmentItem</a> and
        <a href="#Assessment">Assessment</a> attempts MAY be represented by use of the
        <a href="#Attempt">Attempt</a> <code>isPartOf</code> property.</li>
    <li>As a learner navigates from one <a href="#AssessmentItem">AssessmentItem</a> to another
        <a href="#AssessmentItem">AssessmentItem</a>, the previous <a href="#AssessmentItem">AssessmentItem</a>
        MAY be specified as the <code>referrer</code>.</li>
    <li>If an <a href="#ltiDef">LTI</a> Tool mints the event, the <code>federatedSession</code> SHOULD be
        referenced.</li>
    <li>A map of additional <code>extensions</code> MAY be included but beware the inherent interoperability
        limitations of transmitting data not described by the model.</li>
</ul>