<h3>Started</h3>
<p>The <em>Started</em> action signals that some process or task has commenced. ...TO DO</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Started</dd>
    <dt>Term</dt>
    <dd>Started</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00349400-v">commence, start, lead off, begin</a> -
        <em>set in motion, cause to start</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AssessmentEvent">AssessmentEvent</a>,
        <a href="#AssessmentItemEvent">AssessmentItemEvent</a>, <a href="#QuestionnaireEvent">QuestionnaireEvent</a>,
        <a href="#QuestionnaireItemEvent">QuestionnaireItemEvent</a>
    </dd>
</dl>