<h3>Abandoned</h3>
<p>The <em>Abandoned</em> action signals that some <a href="#Entity">Entity</a> was left behind or
    unfinished.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Abandoned</dd>
    <dt>Term</dt>
    <dd>Abandoned</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02232813-v">abandon</a> -
        <em>forsake, leave behind</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>