<h3>Resumed</h3>
<p>The <em>Resumed</em> action signals that a process or task was started midway through after it
    was previously stopped at that place. Inverse of <a href="#action-paused">Paused</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Resumed</dd>
    <dt>Term</dt>
    <dd>Resumed</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00350758-v">resume, restart,
        re-start</a> - <em>take up or begin anew</em>
    </dd>
    <dt>Supported by</dt>
    <dd>
        <a href="#Event">Event</a>,
        <a href="#AssessmentEvent">AssessmentEvent</a>,
        <a href="#MediaEvent">MediaEvent</a>
    </dd>
</dl>