<h3>LoggedOut</h3>
<p>The <em>LoggedOut</em> action signals that a <a href="Person">Person</a> has ended an authenticated visit to
    <a href=#Entity>Entity</a>, usually a <a href="#SoftwareApplication">SoftwareApplication</a>. Inverse of
    <a href="#action-loggedIn">LoggedIn</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/LoggedOut</dd>
    <dt>Term</dt>
    <dd>LoggedOut</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/202254101-v">Exit a computer or software application</a>. Inverse
        of <a href="#action-loggedIn">LoggedIn</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SessionEvent">SessionEvent</a></dd>
</dl>