<h3>MarkedAsUnread</h3>
<p>The <em>MarkedAsUnread</em> action signals that textual content has been labeled as not yet read or consumed.
    Inverse of <a href="#action-markedAsRead">MarkedAsRead</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/MarkedAsUnread</dd>
    <dt>Term</dt>
    <dd>MarkedAsUnread</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200923709-v">Mark: designate as if by a mark</a>. ...TO DO
        Inverse of <a href="#action-markedAsRead">MarkedAsRead</a>.</dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MessageEvent">MessageEvent</a>,
        <a href="#ThreadEvent">ThreadEvent</a>
    </dd>
</dl>