<h3>Used</h3>
The <em>Used</em> action signals that a <code>actor</code> has utilized a <code>SoftwareApplication</code> in
a manner that the application determines to be its intended use for learning.

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Used</dd>
    <dt>Term</dt>
    <dd>Used</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/201161188-v" rel="nofollow">Put into service; make work
        or employ for a particular purpose or for its inherent or natural purpose.</a></dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ToolUseEvent">ToolUseEvent</a></dd>
</dl>