<h3>OptedOut</h3>
<p>The <em>OptedOut</em> action signals that a <a href="#Person">Person</a> has declined to participate in an optional
    activity or task, such as a <a href="#Survey">Survey</a>. Inverse of <a href="#action-optedIn">OptedIn</a>.
    ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/OptedOut</dd>
    <dt>Term</dt>
    <dd>OptedOut</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="https://en.wiktionary.org/">https://en.wiktionary.org/</a> |
        <a href="https://en.wiktionary.org/w/index.php?title=opt_out&oldid=50769215">opt out (verb)</a> |
        "To choose not to participate in something"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SurveyEvent">SurveyEvent</a>
</dl>