<h3>Ranked</h3>
<p>The <em>Ranked</em> action signals that quantitative feedback in the form of a <a href="#Rating">Rating</a> has been
    provided.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Ranked</dd>
    <dt>Term</dt>
    <dd>Ranked</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00659723-v">range, rank, order, rate, place, grade</a> -
        <em>assign a rank or rating to</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#FeedbackEvent">FeedbackEvent</a></dd>
</dl>