<h3>Skipped</h3>
<p>The <em>Skipped</em> action signals that some <a href="#Entity">Entity</a> was passed over
    without being fully examined or completed.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Skipped</dd>
    <dt>Term</dt>
    <dd>Skipped</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00618188-v">jump, skip, pass over,
        skip over</a> - <em>bypass</em>
    </dd>
    <dt>Supported by</dt>
    <dd>
        <a href="#Event">Event</a>,
        <a href="#AssessmentItemEvent">AssessmentItemEvent</a>,
        <a href="#QuestionnaireItemEvent">QuestionnaireItemEvent</a>
    </dd>
</dl>