<h3>Returned</h3>
<p>The <em>Returned</em> action signals that the workflow that started with the <em>Launched</em> action gets completed
    when the external tool redirects the user back to the launching system.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Returned</dd>
    <dt>Term</dt>
    <dd>Returned</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02008888-v">return</a> -
        <em>go or come back to place, condition, or activity where one has been before</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ToolLaunchEvent">ToolLaunchEvent</a></dd>
</dl>