<h3>Submitted</h3>
<p>The <em>Submitted</em> action signals that some <a href="#Entity">Entity</a> was formally turned
    in for review or analysis.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Submitted</dd>
    <dt>Term</dt>
    <dd>Submitted</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02267560-v">submit, present</a> -
        <em>hand over formally</em>
    </dd>
    <dt>Supported by</dt>
    <dd>
        <a href="#Event">Event</a>,
        <a href="#AssessmentEvent">AssessmentEvent</a>,
        <a href="#QuestionnaireEvent">QuestionnaireEvent</a>
    </dd>
</dl>