<h3>Archived</h3>
<p>The <em>Archived</em> action signals that an <a href="#Entity">Entity</a> was put into long-term
    storage.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Archived</dd>
    <dt>Term</dt>
    <dd>Archived</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01387292-v">archive, file away</a> -
        <em>put into an archive</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>,
        <a href="#ResourceManagementEvent">ResourceManagementEvent</a>
    </dd>
</dl>