<h3>Shared</h3>
<p>The <em>Shared</em> action signals that a reference to an <a href=#Entity>Entity</a> was communicated in order to
    share with others an experience, information, or knowledge. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Shared</dd>
    <dt>Term</dt>
    <dd>Shared</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/201065952-v">Communicate</a>.</dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AnnotationEvent">AnnotationEvent</a></dd>
</dl>