<h3>Retrieved</h3>
<p>The <em>Retrieved</em> action signals that an <a href="#Entity">Entity</a> was accessed or
    obtained from storage.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Retrieved</dd>
    <dt>Term</dt>
    <dd>Retrieved</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02253616-v">access</a> -
        <em>obtain or retrieve from a storage device; as of information on a computer</em>
    </dd>
    <dt>Supported by</dt>
    <dd>
        <a href="#Event">Event</a>,
        <a href="#ResourceManagementEvent">ResourceManagementEvent</a>
    </dd>
</dl>