<h3>Accepted</h3>
<p>Give an affirmative reply to. Inverse of <a href="#action-declined">Declined</a>.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Accepted</dd>
    <dt>Term</dt>
    <dd>Accepted</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200799359-v">Give an affirmative reply to</a>.
        Inverse of <a href="#action-declined">Declined</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SurveyInvitationEvent">SurveyInvitationEvent</a></dd>
</dl>