<h3>Paused</h3>
<p>The <em>Paused</em> action signals that some task or process has been temporarily stopped. Inverse of
    <a href="#action-resumed">Resumed</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Paused</dd>
    <dt>Term</dt>
    <dd>Paused</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200781106-v">Cease an action temporarily</a>. Inverse of
        <a href="#action-resumed">Resumed</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AssessmentEvent">AssessmentEvent</a>,
        <a href="#MediaEvent">MediaEvent</a>
    </dd>
</dl>