<h3>OptedIn</h3>
<p>The <em>OptedIn</em> action signals that a <a href="#Person">Person</a> has agreed to participate in an optional
    activity or task, such as a <a href="#Survey">Survey</a>. Inverse of <a href="#action-opted-out">OptedOut</a>.
    ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/OptedIn</dd>
    <dt>Term</dt>
    <dd>OptedIn</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="https://en.wiktionary.org/">https://en.wiktionary.org/</a> |
        <a href="https://en.wiktionary.org/w/index.php?title=opt_in&oldid=50819928">opt in (verb)</a> |
        "To choose to participate in something"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SurveyEvent">SurveyEvent</a>
</dl>