<h3>Removed</h3>
<p>The <em>Removed</em> action signals the taking away or deletion of some <a href=#Entity>Entity</a>. Inverse of
    <a href="#action-added">Added</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Removed</dd>
    <dt>Term</dt>
    <dd>Removed</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02228837-v">get rid of, remove</a> -
        <em>dispose of</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>