<h3>ForwardedTo</h3>
<p>The <em>ForwardedTo</em> action signals that an <a href="#Entity">Entity</a> was sent or
    directed to another location.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/ForwardedTo</dd>
    <dt>Term</dt>
    <dd>ForwardedTo</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01959367-v">send on, forward</a> -
        <em>send or ship onward from an intermediate post or station in transit</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>