<h3>Hid</h3>
<p>The <em>Hid</em> action signals that an <a href=#Entity>Entity</a> was collapsed or removed from
    view to prevent discovery. Inverse of <a href="#action-showed">Showed</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Hid</dd>
    <dt>Term</dt>
    <dd>Hid</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02149298-v">conceal, hide</a> -
        <em>prevent from being seen or discovered</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>