<h3>Restored</h3>
<p>The <em>Restored</em> action signals that an archived resource has been retrieved from long-term storage. Inverse of
    <a href="#action-archived">Archived</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Restored</dd>
    <dt>Term</dt>
    <dd>Restored</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02558146-v">restore, reconstruct</a> -
        <em>return to its original or usable and functioning condition</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>