<h3>Added</h3>
<p>The <em>Added</em> action signals that some <a href="#Entity">Entity</a> was combined with
    or appended to some other <a href="#Entity">Entity</a> or entities. Inverse of
    <a href="#action-removed">Removed</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Added</dd>
    <dt>Term</dt>
    <dd>Added</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00182551-v">add</a> - <em>make an
        addition (to); join or combine or unite with others; increase the quality, quantity, size or
        scope of</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>