<h3>OpenedPopout</h3>
<p>The <em>OpenedPopout</em> action signals that a video popout has been opened. Inverse of
    <a href="#action-closedPopout">ClosedPopout</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/OpenedPopout</dd>
    <dt>Term</dt>
    <dd>OpenedPopout</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02431018-v">open, open up</a> -
        <em>start to operate or function or cause to start operating or functioning</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>