<h3>Uploaded</h3>
The <em>Uploaded</em> action signals that a copy of the resource has been transferred from
a remote or secondary system to a central or primary system.

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Uploaded</dd>
    <dt>Term</dt>
    <dd>Uploaded</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/02233898-v" rel="nofollow">Transfer
        a file or program to a central computer from a smaller computer or a computer at a
        remote location</a>. Inverse of <a href="#action-downloaded">Downloaded</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>