<h3>Abandoned</h3>
<p>The <em>Abandoned</em> action signals that some <a href="#Entity">Entity</a> has been left behind or
    unfinished. ... TO DO</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Abandoned</dd>
    <dt>Term</dt>
    <dd>Abandoned</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/202232813-v">abandon (verb)</a> |
        "forsake, leave behind"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>