<h3>Reviewed</h3>
<p>The <em>Reviewed</em> action signals that an <a href=#Entity>Entity</a> was looked over or
    appraised for its quality and completeness.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Reviewed</dd>
    <dt>Term</dt>
    <dd>Reviewed</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00857194-v">review, critique</a> -
        <em>appraise critically</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AssignableEvent">AssignableEvent</a></dd>
</dl>