<h3>ChangedResolution</h3>
<p>The <em>ChangedResolution</em> action signals that a visual display's representation of detail
    (measured by pixel density) was changed or adjusted.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/ChangedResolution</dd>
    <dt>Term</dt>
    <dd>ChangedResolution</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00126072-v">modify, alter, change</a> -
        <em>cause to change; make different; cause a transformation</em>
    </dd>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/11526370-n">resolution</a> -
        <em>the number of pixels per square inch on a computer-generated display; the greater the
            resolution, the better the picture
        </em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>