<h3>NavigatedTo</h3>
<p>The <em>NavigatedTo</em> action signals that some <a href="#Entity">Entity</a> directed a movement from one location
    to another. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/NavigatedTo</dd>
    <dt>Term</dt>
    <dd>NavigatedTo</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01936675-v">navigate</a> -
        <em>direct carefully and safely</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#NavigationEvent">NavigationEvent</a>
</dl>