<h3>DisabledClosedCaptioning</h3>
<p>The <em>DisabledClosedCaptioning</em> action signals that the option for visual display of
    plain text transcriptions of audio content was turned off. Inverse of
    <a href="#enabledClosedCaptioning">EnabledClosedCaptioning</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/DisabledClosedCaptioning</dd>
    <dt>Term</dt>
    <dd>DisabledClosedCaptioning</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00513267-v">incapacitate, disenable,
        disable</a> - <em>make unable to perform a certain action</em>
    </dd>
    <dd>Wiktionary: <a href="https://en.wiktionary.org/wiki/closed_captioning">closed captioning</a>
        - <em>The display of text on a television or video screen, usually a transcription of the
            audio portion of a program as it occurs (either verbatim or in edited form), most
            frequently used by the deaf and language learners.</em> Closed <em>captions are encoded
            invisibly, and displayed by a decoder.</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>