<h3>Modified</h3>
<p>The <em>Modified</em> action signals that an <a href="#Entity">Entity</a> was altered or
    changed.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Modified</dd>
    <dt>Term</dt>
    <dd>Modified</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00126072-v">modify, alter, change</a>
        - <em>cause to change; make different; cause a transformation</em>
    </dd>
    <dt>Supported by</dt>
    <dd>
        <a href="#Event">Event</a>,
        <a href="#ResourceManagementEvent">ResourceManagementEvent</a>
    </dd>
</dl>