<h3>Ended</h3>
<p>The <em>Ended</em> action signals that a process associated with an <a href="#Entity">Entity</a>
    concluded or was brought to a conclusion. Inverse of <a href="#action-started">Started</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Ended</dd>
    <dt>Term</dt>
    <dd>Ended</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00353480-v">terminate, end</a> -
        <em>bring to an end or halt</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>