<h3>Saved</h3>
<p>The <em>Saved</em> action signals that the current state of a resource has been stored for future use.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Saved</dd>
    <dt>Term</dt>
    <dd>Saved</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01000931-v">write, save</a> -
        <em>record data on a computer</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>