<h3>LoggedIn</h3>
<p>The <em>LoggedIn</em> action signals that authenticated access to an <a href=#Entity>Entity</a>, usually a
    <a href="#SoftwareApplication">SoftwareApplication</a>, has been granted. Inverse of
    <a href="#action-loggedOut">LoggedOut</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/LoggedIn</dd>
    <dt>Term</dt>
    <dd>LoggedIn</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/202253955-v">log on, log in, log-in (verb)</a> |
        "enter a computer"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SessionEvent">SessionEvent</a></dd>
</dl>