<h3>Attached</h3>
<p>The <em>Attached</em> action signals that some <a href="#Entity">Entity</a> has been attached to some other
    <a href="#Entity">Entity</a>. ... TO DO</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Attached</dd>
    <dt>Term</dt>
    <dd>Attached</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/201299048-v">attach (verb)</a> |
        "cause to be attached"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>