<h3>Linked</h3>
<p>The <em>Linked</em> action signals that two or more resources were connected by way of a URI. ...TO DO</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Linked</dd>
    <dt>Term</dt>
    <dd>Linked</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/201357376-v">link up, link, connect, tie (verb)</a> |
        "connect, fasten, or put together two or more pieces"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>