<h3>Reset</h3>
<p>The <em>Reset</em> action signals that an <a href=#Entity>Entity</a> has been refreshed or returned to its original
    state. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Reset</dd>
    <dt>Term</dt>
    <dd>Reset</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200949623-v">Set anew</a>.</dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AssessmentEvent">AssessmentEvent</a></dd>
</dl>