<h3>Identified</h3>
<p>The <em>Identified</em> action signals that the identity of an <a href=#Entity>Entity</a> has been determined or
    established. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Identified</dd>
    <dt>Term</dt>
    <dd>Identified</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00620568-v">identify, place</a> -
        <em>recognize as being; establish the identity of someone or something</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>