<h3>OptedOut</h3>
<p>Decline to participate in a survey. Inverse of <a href="#action-optedIn">OptedIn</a>.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/OptedOut</dd>
    <dt>Term</dt>
    <dd>OptedOut</dd>
    <dt>Wiktionary Gloss</dt>
    <dd><a href="https://en.wiktionary.org/w/index.php?title=opt_out&oldid=50769215">To choose not to participate
        in something.</a> Inverse of <a href="#action-optedIn">OptedIn</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SurveyEvent">SurveyEvent</a>
</dl>