<h3>Tagged</h3>
<p>The <em>Tagged</em> action signals that an <a href="#Entity">Entity</a> or content was given a
    label to assist with future discovery and identification.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Tagged</dd>
    <dt>Term</dt>
    <dd>Tagged</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01591414-v">tag, mark, label</a> -
        <em>attach a tag or label to</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AnnotationEvent">AnnotationEvent</a></dd>
</dl>