<h3>Downloaded</h3>
<p>The <em>Downloaded</em> action signals that a copy of the resource has been transferred from a central or primary
    system to a remote or secondary system. Inverse of <a href="#action-uploaded">Uploaded</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Downloaded</dd>
    <dt>Term</dt>
    <dd>Downloaded</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02238486-v">download</a> -
        <em>transfer a file or program from a central computer to a smaller computer or to a computer at a remote
            location
        </em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>