<h3>Attached</h3>
<p>The <em>Attached</em> action signals that some <a href="#Entity">Entity</a> was affixed to
    or included with some other <a href="#Entity">Entity</a>.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Attached</dd>
    <dt>Term</dt>
    <dd>Attached</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01299048-v">attach</a> -
        <em>cause to be attached</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>