<h3>Described</h3>
<p>The <em>Described</em> action signals that a description of a resource has been provided.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Described</dd>
    <dt>Term</dt>
    <dd>Described</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00989103-v">depict, draw, describe</a> -
        <em>give a description of</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>