<h3>Retrieved</h3>
The <em>Retrieved</em> action signals that a resource has been accessed or obtained.

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Retrieved</dd>
    <dt>Term</dt>
    <dd>Retrieved</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/202253616-v" rel="nofollow">Obtain
        or retrieve from a storage device; as of information on a computer</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>