<h3>Deactivated</h3>
<p>The <em>Deactivated</em> action signals that some <a href="#Entity">Entity</a> has been made inactive. Inverse of
    <a href="#action-activated">Activated</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Deactivated</dd>
    <dt>Term</dt>
    <dd>Deactivated</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200191849-v">Make inactive</a>. Inverse of
        <a href="#action-activated">Activated</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AssignableEvent">AssignableEvent</a></dd>
</dl>