<h3>Graded</h3>
<p>The <em>Graded</em> action signals that a grade or rank has been assigned to some work or <a href=#Entity>Entity</a>.
    ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Graded</dd>
    <dt>Term</dt>
    <dd>Graded</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00659399-v">score, mark, grade</a> -
        <em>assign a grade or rank to, according to one's evaluation</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#GradeEvent">GradeEvent</a></dd>
</dl>