<h3>Copied</h3>
<p>The <em>Copied</em> action signals that an <a href="#Entity">Entity</a> was duplicated.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Copied</dd>
    <dt>Term</dt>
    <dd>Copied</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01697776-v">re-create, copy</a> -
        <em>make a replica of</em>
    </dd>
    <dt>Supported by</dt>
    <dd>
        <a href="#Event">Event</a>,
        <a href="#ResourceManagementEvent">ResourceManagementEvent</a>
    </dd>
</dl>