<h3>Showed</h3>
<p>The <em>Showed</em> action signals that an <a href=#Entity>Entity</a> was revealed or made
    accessible to enable discovery. Inverse of <a href="#action-hid">Hid</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Showed</dd>
    <dt>Term</dt>
    <dd>Showed</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02141597-v">show</a> -
        <em>make visible or noticeable</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>