<h3>Returned</h3>
<p>The <em>Returned</em> action signals that a workflow that started with the
    <a href="#action-launched">Launched</a> action was completed, with the
    <a href="#Agent">Agent</a> being directed back to an original location or system.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Returned</dd>
    <dt>Term</dt>
    <dd>Returned</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02008888-v">return</a> -
        <em>go or come back to place, condition, or activity where one was before</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ToolLaunchEvent">ToolLaunchEvent</a></dd>
</dl>