<h3>Graded</h3>
<p>The <em>Graded</em> action signals that a grade or rank has been assigned to some work or <a href=#Entity>Entity</a>.
    ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Graded</dd>
    <dt>Term</dt>
    <dd>Graded</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200659399-v">Assign a grade or rank to, according to one's
        evaluation</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#GradeEvent">GradeEvent</a></dd>
</dl>