<h3>ChangedSize</h3>
<p>The <em>ChangedSize</em> action signals that the magnitude of some thing has changed. ...TO DO</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/ChangedSize</dd>
    <dt>Term</dt>
    <dd>ChangedSize</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200126072-v">Cause to change; make different; cause a
        transformation</a> of <a href="http://wordnet-rdf.princeton.edu/wn31/105106204-n">the physical magnitude of
        something</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>