<h3>Unpublished</h3>
<p>The <em>Unpublished</em> action signals that a published resource has been rendered unavailable for public
    consumption. Inverse of <a href="#action-published">Published</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Unpublished</dd>
    <dt>Term</dt>
    <dd>Unpublished</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet:
        <a href="http://wordnet-rdf.princeton.edu/id/00969657-v">release, issue, publish, put out, bring out</a>
        - <em>prepare and issue for public distribution or sale</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>