<h3>Bookmarked</h3>
<p>The <em>Bookmarked</em> action signals that some location of interest within a
    <a href="#DigitalResource">DigitalResource</a> has been labeled or flagged. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Bookmarked</dd>
    <dt>Term</dt>
    <dd>Bookmarked</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02874508-n">bookmarker, bookmark</a> -
        <em>a marker (a piece of paper or ribbon) placed between the pages of a book to mark the reader's place</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AnnotationEvent">AnnotationEvent</a></dd>
</dl>