<h3>Commented</h3>
<p>The <em>Commented</em> action signals that qualitative feedback in the form of a
    <a href="#Comment">Comment</a> has been provided.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Commented</dd>
    <dt>Term</dt>
    <dd>Commented</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/201060446-v">comment, point out, remark, notice (verb)</a> |
        "make or write a comment on"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#FeedbackEvent">FeedbackEvent</a></dd>
</dl>