<h3>Deleted</h3>
<p>The <em>Deleted</em> action signals that a <a href="#DigitalResource">DigitalResource</a> was
    removed permanently from a system. Inverse of <a href="#action-created">Created</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Deleted</dd>
    <dt>Term</dt>
    <dd>Deleted</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01001860-v">delete, erase</a> -
        <em>wipe out digitally or magnetically recorded information</em>
    </dd>
    <dt>Supported by</dt>
    <dd>
        <a href="#Event">Event</a>,
        <a href="#ResourceManagementEvent">ResourceManagementEvent</a>
    </dd>
</dl>