<h3>Reviewed</h3>
<p>The <em>Reviewed</em> action signals that an <a href=#Entity>Entity</a> has been looked over or appraised for its
    quality and completeness. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Reviewed</dd>
    <dt>Term</dt>
    <dd>Reviewed</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200857194-v">Appraise critically</a>.</dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AssignableEvent">AssignableEvent</a></dd>
</dl>