<h3>Declined</h3>
<p>The <em>Declined</em> action signals that some option or task was refused or declined. Inverse of
    <a href="#action-accepted">Accepted</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Declined</dd>
    <dt>Term</dt>
    <dd>Declined</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/202242120-v">decline, turn down, reject, pass up, refuse (verb)
        </a> | "refuse to accept"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SurveyInvitationEvent">SurveyInvitationEvent</a>
</dl>