<h3>Rewound</h3>
<p>The <em>Rewound</em> action signals that a process was moved back from a current place or state
    to a previous one.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Rewound</dd>
    <dt>Term</dt>
    <dd>Rewound</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01524927-v">rewind</a> -
        <em>wind (up) again</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>