<h3>Declined</h3>
<p>Refuse to accept. Inverse of <a href="#action-accepted">Accepted</a>.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Declined</dd>
    <dt>Term</dt>
    <dd>Declined</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/202242120-v">Refuse to accept</a>.
        Inverse of <a href="#action-accepted">Accepted</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SurveyInvitationEvent">SurveyInvitationEvent</a>
</dl>