<h3>Deleted</h3>
The <em>Deleted</em> action signals that a resource has been removed permanently from a system.

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Deleted</dd>
    <dt>Term</dt>
    <dd>Deleted</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/201001860-v" rel="nofollow">Wipe out
        digitally</a>. Inverse of <a href="#action-created">Created</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>