<h3>MarkedAsRead</h3>
<p>The <em>MarkedAsRead</em> action signals that textual content has been labeled as read or consumed. Inverse of
    <a href="#action-markedAsUnread">MarkedAsUnread</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/MarkedAsRead</dd>
    <dt>Term</dt>
    <dd>MarkedAsRead</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/200923709-v">mark (verb)</a> |
        "designate as if by a mark"
    </dd>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/200626756-v">read (verb)</a> |
        "interpret something that is written or printed"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MessageEvent">MessageEvent</a>,
        <a href="#ThreadEvent">ThreadEvent</a>
    </dd>
</dl>