<h3>Questioned</h3>
<p>The <em>Questioned</em> action signals that a question has been posed. ...TO DO</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Questioned</dd>
    <dt>Term</dt>
    <dd>Questioned</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/200786670-v">question, query (verb)</a> |
        "pose a question"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>