<h3>Unmuted</h3>
<p>The <em>Unmuted</em> action signals that the sound associated with an <a href=#Entity>Entity</a> has been enabled or
    made audible. Inverse of <a href="#action-muted">Muted</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Unmuted</dd>
    <dt>Term</dt>
    <dd>Unmuted</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd>Inverse of <a href="#action-muted">Muted</a>. ...TO DO</dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>