<h3>Muted</h3>
<p>The <em>Muted</em> action signals that the sound associated with an <a href=#Entity>Entity</a> has been cut off or
    silenced. Inverse of <a href="#action-unmuted">Unmuted</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Muted</dd>
    <dt>Term</dt>
    <dd>Muted</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/mute-v">Deaden (a sound or noise)</a>. Inverse of
        <a href="#action-unmuted">Unmuted</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>