<h3>NavigatedTo</h3>
<p>Direct the course; determine the direction of travelling.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/NavigatedTo</dd>
    <dt>Term</dt>
    <dd>NavigatedTo</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/201935739-v">Direct the course; determine
        the direction of travelling</a>.</dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#NavigationEvent">NavigationEvent</a>
</dl>