<h3>Disliked</h3>
<p>The <em>Disliked</em> action signals that a <a href="#Person">Person</a> indicated disapproval of
    or negative feeling for an <a href="#Entity">Entity</a>. Inverse of
    <a href="#action-liked">Liked</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Disliked</dd>
    <dt>Term</dt>
    <dd>Disliked</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01780648-v">dislike</a> -
        <em>have or feel a dislike or distaste for</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>