<h3>Unsubscribed</h3>
<p>The <em>Unsubscribed</em> action signals that a request was made for the regular delivery of
    information to be stopped or ceased. Inverse of <a href="#action-subscribed">Subscribed</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Unsubscribed</dd>
    <dt>Term</dt>
    <dd>Unsubscribed</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02214527-v">subscribe to, subscribe,
        take</a> - <em>receive or obtain regularly</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ForumEvent">ForumEvent</a></dd>
</dl>