<h3>Reset</h3>
<p>The <em>Reset</em> action signals that an <a href=#Entity>Entity</a> has been refreshed or returned to its original
    state. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Reset</dd>
    <dt>Term</dt>
    <dd>Reset</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00949623-v">reset</a> -
        <em>set anew</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AssessmentEvent">AssessmentEvent</a></dd>
</dl>