<h3>Published</h3>
<p>The <em>Published</em> action signals that a resource is now available for public consumption.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Published</dd>
    <dt>Term</dt>
    <dd>Published</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet:
        <a href="http://wordnet-rdf.princeton.edu/id/00969657-v">release, issue, publish, put out, bring out</a>
        - <em>prepare and issue for public distribution or sale</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>