<h3>Liked</h3>
<p>The <em>Liked</em> action signals that a <a href="#Person">Person</a> indicated their liking or approval of an
    <a href="#Entity">Entity</a>. Inverse of <a href="#action-disliked">Disliked</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Liked</dd>
    <dt>Term</dt>
    <dd>Liked</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01780873-v">like</a> - <em>be fond of</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>