<h3>LoggedIn</h3>
<p>The <em>LoggedIn</em> action signals that a <a href="Person">Person</a> has gained authenticated access to an
    <a href=#Entity>Entity</a>, usually a <a href="#SoftwareApplication">SoftwareApplication</a>. Inverse of
    <a href="#action-loggedOut">LoggedOut</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/LoggedIn</dd>
    <dt>Term</dt>
    <dd>LoggedIn</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/202253955-v">Enter a computer or software application</a>.
        Inverse of <a href="#action-loggedOut">LoggedOut</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SessionEvent">SessionEvent</a></dd>
</dl>