<h3>Recommended</h3>
<p>The <em>Recommended</em> action signals that some <a href=#Entity>Entity</a> was given a
    favorable label or review.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Recommended</dd>
    <dt>Term</dt>
    <dd>Recommended</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00884469-v">recommend, commend</a> -
        <em>express a good opinion of</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>