<h3>Highlighted</h3>
<p>The <em>Highlighted</em> action signals that some content has been marked so as to make it more prominent or visible.
    ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Highlighted</dd>
    <dt>Term</dt>
    <dd>Highlighted</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00515150-v">spotlight, foreground, play up, highlight</a>
        - <em>move into the foreground to make more visible or prominent</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AnnotationEvent">AnnotationEvent</a></dd>
</dl>