<h3>Added</h3>
<p>The <em>Added</em> action signals the addition of some <a href="#Entity">Entity</a>. Inverse of
    <a href="#action-removed">Removed</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Added</dd>
    <dt>Term</dt>
    <dd>Added</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200182551-v">Make an addition (to); join or combine or unite with
        others; increase the quality, quantity, size or scope of</a>. Inverse of <a href="#action-removed">Removed</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>