<h3>MarkedAsUnread</h3>
<p>The <em>MarkedAsUnread</em> action signals that textual content has been labeled as not yet read or consumed.
    Inverse of <a href="#action-markedAsRead">MarkedAsRead</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/MarkedAsUnread</dd>
    <dt>Term</dt>
    <dd>MarkedAsUnread</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00923709-v">mark</a> -
        <em>designate as if by a mark</em>
    </dd>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00626756-v">read</a> -
        <em>interpret something that is written or printed</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MessageEvent">MessageEvent</a>,
        <a href="#ThreadEvent">ThreadEvent</a>
    </dd>
</dl>