<h3>Archived</h3>
<p>The <em>Archived</em> action signals that an <a href="#Entity">Entity</a> has been put into long-term storage.</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Archived</dd>
    <dt>Term</dt>
    <dd>Archived</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/201387292-v" rel="nofollow">Put into
        an archive</a>. Inverse of <a href="#action-restored">Restored</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>