<h3>ChangedSize</h3>
<p>The <em>ChangedSize</em> action signals that the magnitude of some thing has changed. ...TO DO</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/ChangedSize</dd>
    <dt>Term</dt>
    <dd>ChangedSize</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/200126072-v">modify, alter, change (verb)</a> |
        "cause to change; make different; cause a transformation"
    </dd>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/105106204-n">size (noun)</a> |
        "the physical magnitude of something (how big it is)"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>