<h3>Accepted</h3>
<p>The <em>Accepted</em> action signals that an affirmative reply was given with regard to some
    <a href="#Entity">Entity</a>. Inverse of <a href="#action-declined">Declined</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Accepted</dd>
    <dt>Term</dt>
    <dd>Accepted</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00799359-v">accept, go for, consent</a> -
        <em>give an affirmative reply to; respond favorably to</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SurveyInvitationEvent">SurveyInvitationEvent</a></dd>
</dl>