<h3>Created</h3>
<p>The <em>Created</em> action signals that a resource has been brought into existence. Inverse of
   <a href="#action-deleted">Deleted</a>. ... TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Created</dd>
    <dt>Term</dt>
    <dd>Created</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/01620211-v">make, create</a> -
        <em>make or cause to be or to become</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>