<h3>Subscribed</h3>
<p>The <em>Subscribed</em> action signals that a request was made for the regular delivery of information. Inverse
    of <a href="#action-unsubscribed">Unsubscribed</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Subscribed</dd>
    <dt>Term</dt>
    <dd>Subscribed</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/202214527-v">Receive or obtain regularly</a>. Inverse of
        <a href="#action-unsubscribed">Unsubscribed</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ForumEvent">ForumEvent</a></dd>
</dl>