<h3>Accepted</h3>
<p>The <em>Accepted</em> action signals that an affirmative reply has been given. Inverse of
    <a href="#action-declined">Declined</a>. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Accepted</dd>
    <dt>Term</dt>
    <dd>Accepted</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/wn31/200799359-v">accept, go for, consent (verb)</a> |
        "give an affirmative reply to; respond favorably to"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SurveyInvitationEvent">SurveyInvitationEvent</a></dd>
</dl>