<h3>Searched</h3>
<p>The <em>Searched</em> action signals that a <a href="#Person">Person</a> has queried an
    <a href="#Entity">Entity</a> to find information or other entities.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Searched</dd>
    <dt>Term</dt>
    <dd>Searched</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00649877-v">search, explore,
        research</a> - <em>inquire into</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SearchEvent">SearchEvent</a></dd>
</dl>