<h3>OptedOut</h3>
<p>The <em>OptedOut</em> action signals that a <a href="#Person">Person</a> declined to participate
    in an activity or complete a task. Inverse of <a href="#action-optedIn">OptedIn</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/OptedOut</dd>
    <dt>Term</dt>
    <dd>OptedOut</dd>
    <dt>Related Gloss(es)</dt>
    <dd>Wiktionary: <a href="https://en.wiktionary.org/w/index.php?title=opt_out&oldid=50769215">opt
        out</a> - <em>To choose not to participate in something</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#SurveyEvent">SurveyEvent</a></dd>
</dl>