<h3>EnabledClosedCaptioning</h3>
<p>The <em>EnabledClosedCaptioning</em> action signals that the option for visual display of transcriptions of audio
    content has been turned on or enabled. Inverse of <a href="#action-disabledClosedCaptioning">DisabledClosedCaptioning</a>.
    ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/EnabledClosedCaptioning</dd>
    <dt>Term</dt>
    <dd>EnabledClosedCaptioning</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200513958-v">Render capable or able</a> the visual display of a
        plain text transcription of audio output. Inverse of
        <a href="#action-disabledClosedCaptioning">DisabledClosedCaptioning</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>