<h3>Completed</h3>
<p>The <em>Completed</em> action signals that an <a href="#Entity">Entity</a>, or the work or activity
    associated with it, has been finished. ...TO DO
</p>
<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Completed</dd>
    <dt>Term</dt>
    <dd>Completed</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00485097-v">finish, complete</a> -
        <em>come or bring to a finish or an end</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AssessmentItemEvent">AssessmentItemEvent</a>,
        <a href="#QuestionnaireItemEvent">QuestionnaireItemEvent</a></dd>
</dl>