<h3>Identified</h3>
<p>The <em>Identified</em> action signals that the identity of an <a href=#Entity>Entity</a> has been determined or
    established. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Identified</dd>
    <dt>Term</dt>
    <dd>Identified</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/200620568-v">Recognize as being; establish the identity of
        someone or something</a>.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a></dd>
</dl>