<h3>Viewed</h3>
<p>The <em>Viewed</em> action signals that a <a href="#Person">Person</a> examined or studied a
    particular <a href="#Entity">Entity</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Viewed</dd>
    <dt>Term</dt>
    <dd>Viewed</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02134765-v">consider, look at,
        view</a> - <em>look at carefully; study mentally</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ViewEvent">ViewEvent</a></dd>
</dl>