<h3>Bookmarked</h3>
<p>The <em>Bookmarked</em> action signals that some location of interest within a
    <a href="#DigitalResource">DigitalResource</a>has been labeled or flagged. ...TO DO
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Bookmarked</dd>
    <dt>Term</dt>
    <dd>Bookmarked</dd>
    <dt>WordNet&reg; Gloss</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/wn31/102874508-n">A marker</a> that specifies a location of interest
        in a <a href="#DigitalResource">DigitalResource</a> that is recorded for later retrieval.
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#AnnotationEvent">AnnotationEvent</a></dd>
</dl>