<h3>ChangedSpeed</h3>
<p>The <em>ChangedSpeed</em> action signals an altering of the rate at at which something happens. ...TO DO</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/ChangedSpeed</dd>
    <dt>Term</dt>
    <dd>ChangedSpeed</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/00126072-v">modify, alter, change</a> -
        <em>cause to change; make different; cause a transformation</em>
    </dd>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/15307914-n">velocity, speed</a> -
        <em>distance travelled per unit time</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#MediaEvent">MediaEvent</a></dd>
</dl>