<h3>Printed</h3>
The <em>Printed</em> action signals that a mechanical process has been invoked in order
to produce a printed representation of a resource.

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Printed</dd>
    <dt>Term</dt>
    <dd>Printed</dd>
    <dt>Related Gloss(es)</dt>
    <dd><a href="http://wordnet-rdf.princeton.edu/">http://wordnet-rdf.princeton.edu/</a> |
        <a href="http://wordnet-rdf.princeton.edu/id/01751753-v">print, impress (verb) ...CHECK URI</a> |
        "reproduce by printing"
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceManagementEvent">ResourceManagementEvent</a></dd>
</dl>