<h3>Frame</h3>

<p>A Caliper <code>Frame</code> represents a part, portion or segment of a
    <a href="#DigitalResource">DigitalResource</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/Frame">
        https://purl.imsglobal.org/caliper/Frame</a>
    </dd>
    <dt>Term</dt>
    <dd>Frame</dd>
    <dt>Supertypes</dt>
    <dd><a href="#DigitalResource">DigitalResource</a></dd>
    <dt>Properties</dt>
    <dd><code>Frame</code> inherits all properties defined by its supertype
        <a href="#DigitalResource">DigitalResource</a>, of which <code>id</code>, and <code>type</code> are required.
        <code>Frame</code> is also provisioned with the additional property <code>index</code>. Additional type
        restrictions are described below:
    </dd>
</dl>

<table class="data">
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href="#termDef">Term</a></td>
        <td>The string value MUST be set to the <a href="#termDef">Term</a> <em>Frame</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>index</td>
        <td>integer</td>
        <td>A non-negative integer that represents the position of the <code>Frame</code>.</td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>