<h3>Assessment</h3>

<p>A Caliper <code>Assessment</code> represents an assessment instrument such as a test or quiz.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/Collection">https://purl.imsglobal.org/caliper/Collection</a></dd>
    <dt>Term</dt>
    <dd>Assessment</dd>
    <dt>Supertypes</dt>
    <dd><a href="#AssignableDigitalResource">AssignableDigitalResource</a>,
        <a href="#DigitalResourceCollection">DigitalResourceCollection</a>
    </dd>
    <dt>Properties</dt>
    <dd><code>Assessment</code> inherits all properties defined by its supertypes
        <a href="#AssignableDigitalResource">AssignableDigitalResource</a> and
        <a href="#DigitalResourceCollection">DigitalResourceCollection</a>,
        of which <code>id</code> and <code>type</code> are required. Profile-specific type restrictions are
        described below:
    </dd>
</dl>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href="#termDef">Term</a></td>
        <td>The string value MUST be set to the <a href="#termDef">Term</a> <em>Assessment</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>items</td>
        <td>Array</td>
        <td>An ordered collection of <a href="#AssessmentItem">AssessmentItem</a> entities. Each array item MUST be
            expressed either as an object or as a string corresponding to the item's <a href="#iriDef">IRI</a>.
        </td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>