<h3>Query</h3>
<p>A Caliper <code>Query</code> models search criteria created by an <code>actor</code>
    that targets a searchable resource.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/Query">https://purl.imsglobal.org/caliper/Query</a></dd>
    <dt>Term</dt>
    <dd>Query</dd>
    <dt>Supertype</dt>
    <dd><a href="#Entity">Entity</a></dd>
    <dt>Properties</dt>
    <dd><code>Query</code> inherits all properties defined by its supertype <a href="#Entity">Entity</a>, of
        which <code>id</code> and <code>type</code> are required. <code>Query</code> is
        also provisioned with three additional properties: <code>creator</code>, <code>searchTarget</code>,
        and <code>searchTerms</code>. Additional type restrictions are described below:
    </dd>
</dl>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
        >Term</a></td>
        <td>The string value MUST be set to the term <em>Query</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>creator</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#person"
        >Person</a> | <a href=
            "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#iriDef"
        >IRI</a></td>
        <td>The <code>Person</code> who devised the search terms comprising this <code>Query</code>.
            The <code>creator</code> value MUST be expressed either as an object or as a string
            corresponding to the creator's IRI.
        </td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>searchTarget</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#entity"
        >Entity</a> | <a href=
            "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#iriDef"
        >IRI</a></td>
        <td>The <a href="#Entity">Entity</a>, typically a <code>DigitalResource</code> or
            <code>SoftwareApplication</code>, that is the target of the <code>Query</code>. The
            <code>resourceSearched</code> value MUST be expressed either as an object or as a
            string corresponding to the resources's IRI.
        </td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>searchTerms</td>
        <td><a href="#string">string</a></td>
        <td>The search terms employed by the <code>creator</code> of this <code>Query</code>.</td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>