<h3>Chapter</h3>

<p>A Caliper <code>Chapter</code> represents a major sub-division of a piece of digital content.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/Chapter">http://purl.imsglobal.org/caliper/Chapter</a></dd>
    <dt>Term</dt>
    <dd>Chapter</dd>
    <dt>Supertype</dt>
    <dd><a href="#DigitalResource">DigitalResource</a></dd>
    <dt>Properties</dt>
    <dd><code>Chapter</code> inherits all properties defined by its supertype
        <a href="#DigitalResource">DigitalResource</a>, of which <code>id</code> and <code>type</code> are
        required. Profile-specific type restrictions are described below:
    </dd>
</dl>

<table class="data">
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href="#termDef">Term</a></td>
        <td>The string value MUST be set to the <a href="#termDef">Term</a> <em>Chapter</em>.</td>
        <td>Required</td>
    </tr>
    </tbody>
</table>