<h3>Group</h3>

<p>A Caliper <code>Group</code> represents an ad-hoc, informal or short-lived collection of people organized for
    some common educational or social purpose. A <code>Group</code> can act as an <a href="#Agent">Agent</a>. It
    can be linked both to a parent <a href="#Organization">Organization</a> and to its <code>members</code>.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/Group">http://purl.imsglobal.org/caliper/Group</a></dd>
    <dt>Term</dt>
    <dd>Agent</dd>
    <dt>Supertype</dt>
    <dd><a href="#Organization">Organization</a></dd>
    <dt>Properties</dt>
    <dd><code>Group</code> inherits all properties defined by its supertype <a href="#Organization">Organization</a>,
        of which <code>id</code> and <code>type</code> are required. Additional type restrictions are described
        below:
    </dd>
</dl>

<table class="data">
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href="#termDef">Term</a></td>
        <td>The string value MUST be set to the <a href="#termDef">Term</a> <em>Group</em>.</td>
        <td>Required</td>
    </tr>
    </tbody>
</table>