<h3>Question</h3>
<p>A Caliper <code>Question</code> is a generic type that represents an interrogative expression
    designed to elicit information from a respondent, featuring either a closed-end format with a set of
    predefined responses or an open-ended format. Utilize <code>Question</code> only if no suitable subtype
    exists to represent the question being described.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/Question">https://purl.imsglobal.org/caliper/Question</a></dd>
    <dt>Term</dt>
    <dd>Question</dd>
    <dt>Supertype</dt>
    <dd><a href="#DigitalResource">DigitalResource</a></dd>
    <dt>Subtypes</dt>
    <dd>
        <a href="#DateTimeQuestion">DateTimeQuestion</a>,
        <a href="#MultiselectQuestion">MultiselectQuestion</a>,
        <a href="#OpenEndedQuestion">OpenEndedQuestion</a>,
        <a href="#RatingScaleQuestion">RatingScaleQuestion</a>,
    </dd>
    <dt>Properties</dt>
    <dd><code>Question</code> inherits all properties defined by its supertype <a href="#DigitalResource">DigitalResource</a>,
        of which <code>id</code> and <code>type</code> are required.
        <code>Question</code> is also provisioned with the optional property <code>questionPosed</code>.
        Additional type restrictions are described below:
    </dd>
</dl>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href="https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
        >Term</a></td>
        <td>The string value MUST be set to the Term <em>Question</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>questionPosed</td>
        <td>string</td>
        <td>A string value comprising the question posed.</td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>