<h3>RatingScaleResponse</h3>

<p>A Caliper <code>RatingScaleResponse</code> represents a respondent's response to a
    <code>RatingScaleQuestion</code>.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/RatingScaleResponse">
        https://purl.imsglobal.org/caliper/RatingScaleResponse</a>
    </dd>
    <dt>Term</dt>
    <dd>RatingScaleResponse</dd>
    <dt>Supertype</dt>
    <dd><a href="#Response">Response</a></dd>
    <dt>Properties</dt>
    <dd><code>RatingScaleResponse</code> inherits all properties defined by its supertype
        <a href="#Response">Response</a>, of which <code>id</code> and <code>type</code> are required.
        <code>RatingScaleResponse</code> is also provisioned with the optional property <code>selections</code>.
        Additional type restrictions are described below:
    </dd>
</dl>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
        >Term</a></td>
        <td>The string value MUST be set to the Term <em>RatingScaleResponse</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>selections</td>
        <td>Array</td>
        <td>An array of the values representing the rater's selected responses.</td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>