<h3>LtiLink</h3>
<p>The <code>LtiLink</code> entity represents a <a href="DigitalResource">DigitalResource</a> that must be
    retrieved from an external tool application via an LTI request message. It is, effectively, a
    <a href="DigitalResource">DigitalResource</a> that requiries use of LTI for access.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/LtiLink</dd>
    <dt>Term</dt>
    <dd>LtiLink</dd>
    <dt>Supertype</dt>
    <dd><a href="#DigitalResource">DigitalResource</a></dd>
    <dt>Properties</dt>
    <dd><code>LtiLink</code> inherits all properties defined by its supertype
        <a href="#DigitalResource">DigitalResource</a>, of which <code>id</code> and <code>type</code> are required.
        <code>LtiLink</code> is also provisioned with a <code>messageType</code> property. Profile-specific type
        restrictions are described below:
    </dd>
</dl>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href="
            https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
        >Term</a></td>
        <td>The string value MUST be set to <em>LtiLink</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>messageType</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
            >Term</a>
        </td>
        <td>If present, the string value MUST be set to the term name of the LTI message type used to gain
            access to this LTI resource link (for example, <em>LtiResourceLinkRequest</em> or
            <em>LtiDeepLinkingRequest</em>).
        </td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>