<h3>LearningObjective</h3>

<p>A Caliper <code>LearningObjective</code> represents a brief statement of what a learner should
    know or be able to perform after completing a unit of instruction or a period of learning.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/LearningObjective<">
        http://purl.imsglobal.org/caliper/LearningObjective</a>
    </dd>
    <dt>Term</dt>
    <dd>LearningObjective</dd>
    <dt>Supertype</dt>
    <dd><a href="#Entity">Entity</a></dd>
    <dt>Properties</dt>
    <dd><code>LearningObjective</code> inherits all properties defined by its supertype <a href="#Entity">Entity</a>,
        of which <code>id</code> and <code>type</code> are required. Profile-specific type restrictions are
        described below:
    </dd>
</dl>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href="#termDef">Term</a></td>
        <td>The string value MUST be set to the <a href="#termDef">Term</a> <em>LearningObjective</em>.</td>
        <td>Required</td>
    </tr>
    </tbody>
</table>