<h4>Member</h4>

<dl>
    <dt>IRI</dt>
    <dd>http://purl.imsglobal.org/vocab/lis/v2/membership#Member</dd>
    <dt>Term</dt>
    <dd>Member</dd>
    <dt>Subrole(s)</dt>
    <dd>
        <section id="subrole-member-member" class="notoc">
            <h5>Member#Member</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Member#Member</dd>
                <dt>Term</dt>
                <dd>Member#Member</dd>
            </dl>
        </section>
    </dd>
</dl>

