<h3>Officer</h3>

<dl>
    <dt>IRI</dt>
    <dd>http://purl.imsglobal.org/vocab/lis/v2/membership#Officer</dd>
    <dt>Term</dt>
    <dd>Officer</dd>
    <dt>Subrole(s)</dt>
    <dd>
        <section id="subrole-officer-chair" class="notoc">
            <h4>Officer#Chair</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Officer#Chair</dd>
                <dt>Term</dt>
                <dd>Officer#Chair</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-officer-secretary" class="notoc">
            <h4>Officer#Secretary</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Officer#Secretary</dd>
                <dt>Term</dt>
                <dd>Officer#Secretary</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-officer-treasurer">
            <h4>Officer#Treasurer</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Officer#Treasurer</dd>
                <dt>Term</dt>
                <dd>Officer#Treasurer</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-officer-vicechair" class="notoc">
            <h4>Officer#Vice-Chair</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Officer#Vice-Chair</dd>
                <dt>Term</dt>
                <dd>Officer#Vice-Chair</dd>
            </dl>
        </section>
    </dd>
</dl>