<h4>Administrator</h4>

<dl>
    <dt>IRI</dt>
    <dd>http://purl.imsglobal.org/vocab/lis/v2/membership#Administrator</dd>
    <dt>Term</dt>
    <dd>Administrator</dd>
    <dt>Subrole(s)</dt>
    <dd>
        <section id="subrole-administrator-administrator" class="notoc">
            <h5>Administrator#Administrator</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Administrator#Administrator</dd>
                <dt>Term</dt>
                <dd>Administrator#Administrator</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-administrator-developer" class="notoc">
            <h5>Administrator#Developer</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Administrator#Developer</dd>
                <dt>Term</dt>
                <dd>Administrator#Developer</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-administrator-externaldeveloper" class="notoc">
            <h5>Administrator#ExternalDeveloper</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Administrator#ExternalDeveloper</dd>
                <dt>Term</dt>
                <dd>Administrator#ExternalDeveloper</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-administrator-externalsupport" class="notoc">
            <h5>Administrator#ExternalSupport</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Administrator#ExternalSupport</dd>
                <dt>Term</dt>
                <dd>Administrator#ExternalSupport</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-administrator-externalsystemadministrator" class="notoc">
            <h5>Administrator#ExternalSystemAdministrator</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Administrator#ExternalSystemAdministrator</dd>
                <dt>Term</dt>
                <dd>Administrator#ExternalSystemAdministrator</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-administrator-support" class="notoc">
            <h5>Administrator#Support</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Administrator#Support</dd>
                <dt>Term</dt>
                <dd>Administrator#Support</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-administrator-systemadministrator" class="notoc">
            <h5>Administrator#SystemAdministrator</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Administrator#SystemAdministrator</dd>
                <dt>Term</dt>
                <dd>Administrator#SystemAdministrator</dd>
            </dl>
        </section>
    </dd>
</dl>

