<h3>ContentDeveloper</h3>

<dl>
    <dt>IRI</dt>
    <dd>http://purl.imsglobal.org/vocab/lis/v2/membership#ContentDeveloper</dd>
    <dt>Term</dt>
    <dd>ContentDeveloper</dd>
    <dt>Subrole(s)</dt>
    <dd>
        <section id="subrole-contentdeveloper-contentdeveloper" class="notoc">
            <h4>ContentDeveloper#ContentDeveloper</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/ContentDeveloper#ContentDeveloper</dd>
                <dt>Term</dt>
                <dd>ContentDeveloper#ContentDeveloper</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-contentdeveloper-contentexpert" class="notoc">
            <h4>ContentDeveloper#ContentExpert</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/ContentDeveloper#ContentExpert</dd>
                <dt>Term</dt>
                <dd>ContentDeveloper#ContentExpert</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-contentdeveloper-externalcontentexpert" class="notoc">
            <h4>ContentDeveloper#ExternalContentExpert</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/ContentDeveloper#ExternalContentExpert</dd>
                <dt>Term</dt>
                <dd>ContentDeveloper#ExternalContentExpert</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-contentdeveloper-librarian" class="notoc">
            <h4>ContentDeveloper#Librarian</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/ContentDeveloper#Librarian</dd>
                <dt>Term</dt>
                <dd>ContentDeveloper#Librarian</dd>
            </dl>
        </section>
    </dd>
</dl>