<h4>Manager</h4>

<dl>
    <dt>IRI</dt>
    <dd>http://purl.imsglobal.org/vocab/lis/v2/membership#Manager</dd>
    <dt>Term</dt>
    <dd>Manager</dd>
    <dt>Subrole(s)</dt>
    <dd>
        <section id="subrole-manager-areamanager" class="notoc">
            <h5>Manager#AreaManager</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Manager#AreaManager</dd>
                <dt>Term</dt>
                <dd>Manager#AreaManager</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-manager-coursecoordinator" class="notoc">
            <h5>Manager#CourseCoordinator</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Manager#CourseCoordinator</dd>
                <dt>Term</dt>
                <dd>Manager#CourseCoordinator</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-manager-externalobserver" class="notoc">
            <h5>Manager#ExternalObserver</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Manager#ExternalObserver</dd>
                <dt>Term</dt>
                <dd>Manager#ExternalObserver</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-manager-manager" class="notoc">
            <h5>Manager#Manager</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Manager#Manager</dd>
                <dt>Term</dt>
                <dd>Manager#Manager</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-manager-observer" class="notoc">
            <h5>Manager#Observer</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Manager#Observer</dd>
                <dt>Term</dt>
                <dd>Manager#Observer</dd>
            </dl>
        </section>
    </dd>
</dl>