<h4>Instructor</h4>

<dl>
    <dt>IRI</dt>
    <dd>http://purl.imsglobal.org/vocab/lis/v2/membership#Instructor</dd>
    <dt>Term</dt>
    <dd>Instructor</dd>
    <dd>
        <section id="subrole-instructor-externalinstructor" class="notoc">
            <h5>Instructor#ExternalInstructor</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#ExternalInstructor</dd>
                <dt>Term</dt>
                <dd>Instructor#ExternalInstructor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-grader" class="notoc">
            <h5>Instructor#Grader</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#Grader</dd>
                <dt>Term</dt>
                <dd>Instructor#Grader</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-guestinstructor" class="notoc">
            <h5>Instructor#GuestInstructor</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#GuestInstructor</dd>
                <dt>Term</dt>
                <dd>Instructor#GuestInstructor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-instructor" class="notoc">
            <h5>Instructor#Instructor</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#Instructor</dd>
                <dt>Term</dt>
                <dd>Instructor#Instructor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-lecturer" class="notoc">
            <h5>Instructor#Lecturer</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#Lecturer</dd>
                <dt>Term</dt>
                <dd>Instructor#Lecturer</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-primaryinstructor" class="notoc">
            <h5>Instructor#PrimaryInstructor</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#PrimaryInstructor</dd>
                <dt>Term</dt>
                <dd>Instructor#PrimaryInstructor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-secondaryinstructor" class="notoc">
            <h5>Instructor#SecondaryInstructor</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#SecondaryInstructor</dd>
                <dt>Term</dt>
                <dd>Instructor#SecondaryInstructor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-teachingassistant" class="notoc">
            <h5>Instructor#TeachingAssistant</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#TeachingAssistant</dd>
                <dt>Term</dt>
                <dd>Instructor#TeachingAssistant</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-teachingassistantgroup" class="notoc">
            <h5>Instructor#TeachingAssistantGroup</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#TeachingAssistantGroup</dd>
                <dt>Term</dt>
                <dd>Instructor#TeachingAssistantGroup</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-teachingassistantoffering" class="notoc">
            <h5>Instructor#TeachingAssistantOffering</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#TeachingAssistantOffering</dd>
                <dt>Term</dt>
                <dd>Instructor#TeachingAssistantOffering</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-teachingassistantsection" class="notoc">
            <h5>Instructor#TeachingAssistantSection</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#TeachingAssistantSection</dd>
                <dt>Term</dt>
                <dd>Instructor#TeachingAssistantSection</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-instructor-teachingassistanttemplate" class="notoc">
            <h5>Instructor#TeachingAssistantTemplate</h5>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Instructor#TeachingAssistantTemplate</dd>
                <dt>Term</dt>
                <dd>Instructor#TeachingAssistantTemplate</dd>
            </dl>
        </section>
    </dd>
</dl>