<h3>Mentor</h3>

<dl>
    <dt>IRI</dt>
    <dd>http://purl.imsglobal.org/vocab/lis/v2/membership#Mentor</dd>
    <dt>Term</dt>
    <dd>Mentor</dd>
    <dt>Subrole(s)</dt>
    <dd>
        <section id="subrole-mentor-advisor" class="notoc">
            <h4>Mentor#Advisor</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#Advisor</dd>
                <dt>Term</dt>
                <dd>Mentor#Advisor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-mentor-externaladvisor" class="notoc">
            <h4>Mentor#ExternalAdvisor</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#ExternalAdvisor</dd>
                <dt>Term</dt>
                <dd>Mentor#ExternalAdvisor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-mentor-externalauditor" class="notoc">
            <h4>Mentor#ExternalAuditor</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#ExternalAuditor</dd>
                <dt>Term</dt>
                <dd>Mentor#ExternalAuditor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-mentor-externallearningfacilitator" class="notoc">
            <h4>Mentor#ExternalLearningFacilitator</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#ExternalLearningFacilitator</dd>
                <dt>Term</dt>
                <dd>Mentor#ExternalLearningFacilitator</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-mentor-externalmentor" class="notoc">
            <h4>Mentor#ExternalMentor</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#ExternalMentor</dd>
                <dt>Term</dt>
                <dd>Mentor#ExternalMentor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-mentor-externalreviewer" class="notoc">
            <h4>Mentor#ExternalReviewer</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#ExternalReviewer</dd>
                <dt>Term</dt>
                <dd>Mentor#ExternalReviewer</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-mentor-externaltutor" class="notoc">
            <h4>Mentor#ExternalTutor</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#ExternalTutor</dd>
                <dt>Term</dt>
                <dd>Mentor#ExternalTutor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-mentor-learningfacilitator" class="notoc">
            <h4>Mentor#LearningFacilitator</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#LearningFacilitator</dd>
                <dt>Term</dt>
                <dd>Mentor#LearningFacilitator</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-mentor-mentor" class="notoc">
            <h4>Mentor#Mentor</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#Mentor</dd>
                <dt>Term</dt>
                <dd>Mentor#Mentor</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-mentor-reviewer" class="notoc">
            <h4>Mentor#Reviewer</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#Reviewer</dd>
                <dt>Term</dt>
                <dd>Mentor#Reviewer</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-mentor-tutor" class="notoc">
            <h4>Mentor#Tutor</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Mentor#Tutor</dd>
                <dt>Term</dt>
                <dd>Mentor#Tutor</dd>
            </dl>
        </section>
    </dd>
</dl>
