<h3>Learner</h3>

<dl>
    <dt>IRI</dt>
    <dd>http://purl.imsglobal.org/vocab/lis/v2/membership#Learner</dd>
    <dt>Term</dt>
    <dd>Learner</dd>
    <dt>Subrole(s)</dt>
    <dd>
        <section id="subrole-learner-externallearner" class="notoc">
            <h4>Learner#ExternalLearner</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Learner#ExternalLearner</dd>
                <dt>Term</dt>
                <dd>Learner#ExternalLearner</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-learner-guestlearner" class="notoc">
            <h4>Learner#GuestLearner</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Learner#GuestLearner</dd>
                <dt>Term</dt>
                <dd>Learner#GuestLearner</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-learner-learner" class="notoc">
            <h4>Learner#Learner</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Learner#Learner</dd>
                <dt>Term</dt>
                <dd>Learner#Learner</dd>
            </dl>
        </section>
    </dd>
    <dd>
        <section id="subrole-learner-noncreditlearner" class="notoc">
            <h4>Learner#NonCreditLearner</h4>
            <dl>
                <dt>IRI</dt>
                <dd>http://purl.imsglobal.org/vocab/lis/v2/membership/Learner#NonCreditLearner</dd>
                <dt>Term</dt>
                <dd>Learner#NonCreditLearner</dd>
            </dl>
        </section>
    </dd>
</dl>





