<h3>QuestionnaireEvent</h3>

<img height="100%" width="100%" src="./assets/caliper-questionnaire_event_started-v1p1-extension.png" alt="QuestionnaireEvent"/>

<p>A Caliper <code>QuestionnaireEvent</code> models activities associated with respondents or
    raters starting and submitting a <a href="#Questionnaire">Questionnaire</a>.
</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/QuestionnaireEvent">https://purl.imsglobal.org/caliper/QuestionnaireEvent</a></dd>
    <dt>Term</dt>
    <dd>QuestionnaireEvent</dd>
    <dt>Supertype</dt>
    <dd><a href="#Event">Event</a></dd>
    <dt>Properties</dt>
    <dd><code>QuestionnaireEvent</code> inherits all properties defined by its supertype <a href="#Event">Event</a>,
        of which <code>id</code>, <code>type</code>, <code>actor</code>, <code>action</code>,
        <code>object</code>, and <code>eventTime</code> are required. Additional profile-specific type and value
        restrictions are described below:
    </dd>
</dl>

<table class="data">
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
        >Term</a></td>
        <td>The string value MUST be set to <em>QuestionnaireEvent</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>actor</td>
        <td><a href="#Person">Person</a> | <a href=
          "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#iriDef"
        >IRI</a></td>
        <td>The <code>Person</code> who initiated the action. The <code>actor</code> value MUST
            be expressed either as an object or as a string corresponding to the actor's IRI.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>action</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
        >Term</a></td>
        <td>The action or predicate that binds the <code>actor</code> or subject to the <code>object</code>. The
            value range is limited to the actions: <a href="#action-started">Started</a>, or
            <a href="#action-submitted">Submitted</a>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>object</td>
        <td><a href="#Questionnaire">Questionnaire</a> | <a href=
            "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#iriDef"
        >IRI</a></td>
        <td>The <a href="#Questionnaire">Questionnaire</a> that the <code>actor</code> is taking.  The
            <code>object</code> value MUST be expressed either as an object or as a string corresponding to the
            resource's IRI.</td>
        <td>Required</td>
    </tr>
    </tbody>
</table>