<h3>ResourceManagementEvent</h3>

<img height="100%" width="100%" src="assets/caliper-resource_management_event_created-v1p2.png"
     alt="ResourceManagementEvent"/>

<p>A Caliper <code>ResourceManagementEvent</code> models a <code>Person</code>
    managing an <code>Entity</code>.
</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/ResourceManagementEvent">https://purl.imsglobal.org/caliper/ResourceManagementEvent</a></dd>
    <dt>Term</dt>
    <dd>ResourceManagementEvent</dd>
    <dt>Supertype</dt>
    <dd><a href="#Event">Event</a></dd>
    <dt>Properties</dt>
    <dd>The <code>ResourceManagementEvent</code> inherits all properties defined by its supertype
        <a href="#Event">Event</a>, of which <code>id</code>, <code>type</code>, <code>actor</code>,
        <code>action</code>, <code>object</code>, and <code>eventTime</code> are required. Additional
        profile-specific type and value restrictions are described below:
    </dd>
</dl>

<table class="data">
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href=
                       "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
        >Term</a></td>
        <td>The string value MUST be set to <em>ResourceManagementEvent</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>actor</td>
        <td><a href=
                       "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#person"
        >Person</a> | <a href=
                                 "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#iriDef"
        >IRI</a></td>
        <td>The <code>Person</code> who initiated the action. The <code>actor</code> value MUST
            be expressed either as an object or as a string corresponding to the actor's IRI.
        </td>
        <td>Required</td>
    </tr>
    <tr>
        <td>action</td>
        <td><a href=
                       "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
        >Term</a></td>
        <td>The action or predicate that binds the <code>actor</code> or subject to the
            <code>object</code>. The value range is limited to the
            <a href="#action-archived">Archived</a>,
            <a href="#action-copied">Copied</a>,
            <a href="#action-created">Created</a>,
            <a href="#action-deleted">Deleted</a>,
            <a href="#action-described">Described</a>,
            <a href="#action-downloaded">Downloaded</a>,
            <a href="#action-modified">Modified</a>,
            <a href="#action-printed">Printed</a>,
            <a href="#action-published">Published</a>,
            <a href="#action-restored">Restored</a>,
            <a href="#action-retrieved">Retrieved</a>,
            <a href="#action-saved">Saved</a>,
            <a href="#action-unpublished">Unpublished</a>,
            and <a href="#action-uploaded">Uploaded</a> actions only.
        </td>
        <td>Required</td>
    </tr>
    <tr>
        <td>object</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#digitalResource"
        >DigitalResource</a> | <a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#iriDef"
        >IRI</a></td>
        <td>The <code>DigitalResource</code> that is being managed. The
            <code>object</code> value MUST be expressed either as an object or as a string
            corresponding to the resource's IRI.
        </td>
        <td>Required</td>
    </tr>
    <tr>
        <td>generated</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#digitalResource"
        >DigitalResource</a> | <a href=
          "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#iriDef"
        >IRI</a></td>
        <td>The <code>DigitalResource</code> that was generated by the
            <a href="#action-copied">Copied</a> action. The <code>object</code> value
            MUST be expressed either as an object or as a string corresponding to the
            resource's IRI.
        </td>
        <td>Required (<a href="#action-copied">Copied</a> action only)</td>
    </tr>
    </tbody>
</table>