<h3>SearchEvent</h3>

<img height="100%" width="100%" src="assets/caliper-search_event_searched-query_generated-v1p1.png" alt="Search Event">

<p>A Caliper <code>SearchEvent</code> models a <code>Person</code> querying a resource for
    information, typically a <code>DigitalResource</code> or <code>SoftwareApplication</code>.
    A <a href="#SearchResponse">SearchResponse</a> may be referenced using the <code>generated</code>
    property.
</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/SearchEvent">https://purl.imsglobal.org/caliper/SearchEvent</a></dd>
    <dt>Term</dt>
    <dd>SearchEvent</dd>
    <dt>Supertype</dt>
    <dd><a href="#Event">Event</a></dd>
    <dt>Properties</dt>
    <dd>The <code>SearchEvent</code> inherits all properties defined by its supertype <a href="#Event">Event</a>, of
        which <code>id</code>, <code>type</code>, <code>actor</code>, <code>action</code>,
        <code>object</code>, and <code>eventTime</code> are required. Additional profile-specific type and value
        restrictions are described below:
    </dd>
</dl>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
        >Term</a></td>
        <td>The string value MUST be set to the term <em>SearchEvent</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>actor</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#person"
        >Person</a> | <a href=
          "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#iriDef"
        >IRI</a></td>
        <td>The <code>Person</code> who initiated the action. The <code>actor</code> value MUST
            be expressed either as an object or as a string corresponding to the actor's IRI.
        </td>
        <td>Required</td>
    </tr>
    <tr>
        <td>action</td>
        <td><a href=
           "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#termDef"
        >Term</a></td>
        <td>The action or predicate that binds the <code>actor</code> or subject to the
            <code>object</code>. The value range is limited to the <a href="#actions">Searched</a> action only.
        </td>
        <td>Required</td>
    </tr>
    <tr>
        <td>object</td>
        <td><a href="#Entity">Entity</a> | <a href=
             "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#iriDef"
        >IRI</a></td>
        <td>The <a href="#Entity">Entity</a>, typically a <a href="#DigitalResource">DigitalResource</a> or
            <a href="#SoftwareApplication">SoftwareApplication</a>, that is the target of the search. The
            <code>object</code> value MUST be expressed either as an object or as a string
            corresponding to the resources's IRI.
        </td>
        <td>Required</td>
    </tr>
    <tr>
        <td>generated</td>
        <td><a href="#SearchResponse">SearchResponse</a> | <a href=
             "https://www.imsglobal.org/sites/default/files/caliper/v1p1/caliper-spec-v1p1/caliper-spec-v1p1.html#iriDef"
        >IRI</a></td>
        <td>The <code>SearchResponse</code> generated by the search provider that describes the
            search criteria, count of search results returned (if any), and references to the
            search result items (if any) returned by the search. The <code>SearchResponse</code>
            value MUST be expressed either as an object or as a string corresponding to the
            query’s <code>IRI</code>.
        </td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>