<h3>NavigationEvent</h3>

<img height="100%" width="100%" src="assets/caliper-navigation_event_navigatedto-v2.png" alt="NavigationEvent">

<p>A Caliper <code>NavigationEvent</code> models an <code>actor</code> traversing a network of digital resources.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/NavigationEvent">https://purl.imsglobal.org/caliper/NavigationEvent</a></dd>
    <dt>Term</dt>
    <dd>NavigationEvent</dd>
    <dt>Supertype</dt>
    <dd><a href="#Event">Event</a></dd>
    <dt>Properties</dt>
    <dd><code>NavigationEvent</code> inherits all properties defined by its supertype <a href="#Event">Event</a>,
        of which <code>id</code>, <code>type</code>, <code>actor</code>, <code>action</code>,
        <code>object</code>, and <code>eventTime</code> are required. Additional profile-specific type and value
        restrictions are described below:
    </dd>
</dl>

<table class="data">
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href="#termDef">Term</a></td>
        <td>The string value MUST be set to <em>NavigationEvent</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>actor</td>
        <td><a href="#Person">Person</a> | <a href=
          "#iriDef"
        >IRI</a></td>
        <td>The <a href="#Person">Person</a> who initiated the action. The <code>actor</code> value MUST
            be expressed either as an object or as a string corresponding to the actor's IRI.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>action</td>
        <td><a href="#termDef"
        >Term</a></td>
        <td>The action or predicate that binds the <code>actor</code> or subject to the
            <code>object</code>. The value range is limited to the actions: <a href="#action-navigatedTo">NavigatedTo</a>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>object</td>
        <td><a href="#DigitalResource">DigitalResource</a> |
            <a href="#SoftwareApplication">SoftwareApplication</a> |
            <a href="#iriDef">IRI</a></td>
        <td>The <a href="#DigitalResource">DigitalResource</a> or <a href="#SoftwareApplication">SoftwareApplication</a>
            to which the <code>actor</code> navigated. The <code>object</code> value MUST be expressed either as
            an object or as a string corresponding to the resource's IRI.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>referrer</td>
        <td><a href="#DigitalResource">DigitalResource</a> |
            <a href="#SoftwareApplication">SoftwareApplication</a> |
            <a href="#iriDef"
            >IRI</a></td>
        <td>The <code>DigitalResource</code> or <code>SoftwareApplication</code> that constitutes the
            referring context. The <code>referrer</code> value MUST be expressed either as an object
            or as a string corresponding to the referrer's IRI.</td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>